<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <div class="wrapper admin__wrapper">
        <main
            style="background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 50.484%,rgb(0, 0, 0) 100%), url(assets/media/image/adminpanel.png);">
            <header>
                <nav>
                    <a href="admin.html">Панель</a>
                    <a href="admin-reservation.html">Бронь</a>
                    <a href="admin-menu.html">Меню</a>
                    <a href="admin-orders.html">Заказы</a>
                    <a href="admin-blog.html">Блог</a>
                    <a href="logout.html">Выход</a>
                </nav>
            </header>
            <h2 class="title__page">админ панель</h2>
        </main>
        <div class="sidebar admin__panel">
            <nav class="nav__sidebar">
                <a href="admin-reservation.html">
                    <img src="assets/media/image/adminrese.png" alt="adminrese">
                    <p>бронь <span><img src="assets/media/icons/arrow.svg" alt="arrow"></span></p>
                </a>
                <a href="admin-menu.html">
                    <img src="assets/media/image/menunav.png" alt="adminmenu">
                    <p>МЕНЮ <span><img src="assets/media/icons/arrow.svg" alt="arrow"></span></p>
                </a>
                <div class="info__card">
                    Давайте сделаем этот ресторан еще лучше!
                </div>
                <a href="admin-orders.html">
                    <img src="assets/media/image/ordersnav.png" alt="ordersnav">
                    <p>заказы <span><img src="assets/media/icons/arrow.svg" alt="arrow"></span></p>
                </a>
                <a href="admin-blog.html">
                    <img src="assets/media/image/contact3.png" alt="blog">
                    <p>блог <span><img src="assets/media/icons/arrow.svg" alt="arrow"></span></p>
                </a>
                <a href="logout.html">
                    <img src="assets/media/image/logoutnav.png" alt="logoutnav">
                    <p>выход <span><img src="assets/media/icons/arrow.svg" alt="arrow"></span></p>
                </a>
            </nav>
        </div>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>