<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <div class="wrapper">
        <main
            style="background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 50.484%,rgb(0, 0, 0) 100%), url(assets/media/image/blogback.png);">
            <header>
                <h1 class="logo">
                    <a href="index.html">
                        umami
                    </a>
                </h1>
                <nav>
                    <a href="menu.html">меню</a>
                    <a href="about.html">о нас</a>
                    <a href="blog.html">блог</a>
                    <a href="contact.html">контакты</a>
                    <a href="reservation.html" class="btn">забронировать стол</a>
                    <a href="profile.html" class="btn btn__icon" title="profile">
                        <svg width="15.989441" height="16.978889" viewBox="0 0 15.9894 16.9789" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>
                                Created with Pixso.
                            </desc>
                            <defs />
                            <path id="person"
                                d="M15.67 15.21C15.21 14.1 12.99 13.35 11.51 12.66C10.03 11.97 10.23 11.55 10.18 10.97C10.17 10.9 10.17 10.82 10.17 10.73C10.68 10.25 11.09 9.59 11.36 8.84C11.36 8.84 11.37 8.8 11.38 8.79C11.44 8.63 11.49 8.45 11.53 8.28C11.87 8.2 12.07 7.81 12.14 7.45C12.22 7.3 12.37 6.94 12.34 6.53C12.29 5.99 12.09 5.75 11.87 5.65L11.87 5.56C11.87 4.89 11.81 3.91 11.7 3.28C11.68 3.1 11.64 2.93 11.59 2.75C11.37 1.97 10.92 1.26 10.31 0.77C9.67 0.27 8.78 0 7.99 0C7.2 0 6.31 0.26 5.68 0.77C5.07 1.27 4.62 1.97 4.4 2.75C4.35 2.93 4.31 3.1 4.29 3.28C4.17 3.91 4.12 4.88 4.12 5.56L4.12 5.64C3.88 5.74 3.67 5.98 3.62 6.53C3.59 6.93 3.75 7.29 3.82 7.44C3.9 7.81 4.1 8.2 4.45 8.27C4.49 8.45 4.54 8.62 4.6 8.79C4.6 8.8 4.61 8.81 4.61 8.82L4.62 8.83C4.89 9.59 5.32 10.26 5.84 10.74C5.84 10.82 5.83 10.89 5.83 10.96C5.78 11.54 5.93 11.96 4.46 12.65C2.98 13.34 0.76 14.09 0.3 15.2C-0.16 16.32 0.03 16.97 0.03 16.97L15.95 16.97C15.94 16.98 16.13 16.33 15.67 15.21Z"
                                fill="#EFE7D2" fill-opacity="1.000000" fill-rule="evenodd" />
                        </svg>
                    </a>
                    <a href="basket.html" class="btn btn__icon" title="basket">
                        <svg width="16.000000" height="16.586342" viewBox="0 0 16 16.5863" fill="none"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>
                                Created with Pixso.
                            </desc>
                            <defs />
                            <path id="矢量 90"
                                d="M10.69 0L13.26 5.25L16 5.25L16 7.14L15.06 7.14L14.46 15.72C14.44 15.95 14.35 16.17 14.2 16.33C14.05 16.49 13.86 16.58 13.66 16.58L2.33 16.58C2.13 16.58 1.94 16.49 1.79 16.33C1.64 16.17 1.55 15.95 1.53 15.72L0.93 7.14L0 7.14L0 5.25L2.73 5.25L5.3 0L6.69 0.94L4.58 5.25L11.41 5.25L9.3 0.94L10.69 0L10.69 0ZM8.79 9.03L7.2 9.03L7.2 12.8L8.79 12.8L8.79 9.03ZM5.59 9.03L4 9.03L4 12.8L5.59 12.8L5.59 9.03ZM12 9.03L10.4 9.03L10.4 12.8L12 12.8L12 9.03Z"
                                fill="#EFE7D2" fill-opacity="1.000000" fill-rule="evenodd" />
                        </svg>
                    </a>
                </nav>
            </header>
            <h2 class="title__page">блог</h2>
        </main>
        <div class="sidebar">
            <div class="content">
                <section class="blog__sec">
                    <h2 class="title__main">За кулисами и последние новости</h2>
                    <ul class="article__list">
                        <li>
                            <a href="blog-item.html?id=1" class="article__card">
                                <img src="assets/media/temp/article/1.png" alt="article">
                                <div class="column">
                                    <h3 class="title__article">Как Qitchen переосмысливает гармонию вкуса каждого
                                        кусочка</h3>
                                    <p class="text__prev">Испытайте оркестр вкусов: суши Umami представляют собой
                                        симфонию идеально сбалансированных вкусов.</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-item.html?id=2" class="article__card">
                                <img src="assets/media/temp/article/2.png" alt="article">
                                <div class="column">
                                    <h3 class="title__article">Раскрытие мастерства нашего кулинарного мастерства</h3>
                                    <p class="text__prev">Откройте для себя тщательное мастерство и преданность делу, которые создают знаменитое совершенство блюд в Umami.</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-item.html?id=3" class="article__card">
                                <img src="assets/media/temp/article/3.png" alt="article">
                                <div class="column">
                                    <h3 class="title__article">Путешествие по свежести </h3>
                                    <p class="text__prev">Отправьтесь в приключение с морепродуктами под руководством свежих и изысканных морских суши от Umami.</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <footer>
                <h1 class="logo">
                    <a href="index.html">
                        umami
                    </a>
                </h1>
                <nav class="social">
                    <a href="#"><img src="assets/media/icons/tg.svg" alt="tg"></a>
                    <a href="#"><img src="assets/media/icons/vk.svg" alt="vk"></a>
                    <a href="#"><img src="assets/media/icons/wp.svg" alt="wp"></a>
                </nav>
                <div class="column">
                    <p>по вопросам сотрудничества</p>
                    <a href="mailto: umamipnz@gmail.com">umamipnz@gmail.com</a>
                </div>
                <div class="column">
                    <a href="tel: + 7 (911) 834 79 10">+ 7 (911) 834 79 10</a>
                    <a href="mailto: umamipnz@gmail.com">umamipnz@gmail.com</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>